@tailwind base;
@tailwind components;
@tailwind utilities;

$material-symbols-font-path: 'material-symbols/';
@import 'material-symbols';

// $semantic-root-element: "#root";

// // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
// $enable-semantic-container: true;

// Enable .classes
$enable-classes: true;

// Enable Picocss grid
$enable-grid: false;

@import '@picocss/pico/scss/pico';

/** Custom styles */
/** General */
:root {
  --font-family: "Montserrat", "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --mono-img-filter: saturate(0%) brightness(0%);
  --border-radius: 0;
  --primary: #6753FF;
  --primary-hover: #C247FF;
  --primary-focus: #C247FF;
  --primary-inverse: #FFF;
}

[data-theme=light], :root:not([data-theme=dark]) {
  --font-family: "Montserrat", "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --mono-img-filter: saturate(0%) brightness(0%);
  --border-radius: 0;
  --primary: #6753FF;
  --primary-hover: #C247FF;
  --primary-focus: #C247FF;
  --primary-inverse: #FFF;
}

// Remove main margin and prefer section paddings.
// This is to put the section background in full width.
body {
  margin: 0;
}

#root > main > section:not(.mini-section) {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 2em;

  // Force the sections to fill a significant part of the screen.
  min-height: 70vh;
}

#root > main > section.mini-section {
  min-height: 10vh;
}

#root > main > section > main, #root > main > section > footer, #root > main > section > header {
  width: 100%;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  #root > main > section > main, #root > main > section > footer, #root > main > section > header {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  #root > main > section > main, #root > main > section > footer, #root > main > section > header {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1050px) {
  #root > main > section > main, #root > main > section > footer, #root > main > section > header {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
  }
}

// Ref: https://codepen.io/russgossett/pen/gMNrOQ
$transition-bezier: 1.000, 0.000, 0.000, 1.000;
$transition-len: 0.20s;

// Outline button
:is(button, input[type=submit], input[type=button], [role=button]).outline, input[type=reset].outline {
  position: relative;

  // Create a background inside the button
  &::before {
    content: '';

    // Background color
    background: var(--primary-hover);

    // Position relative to button
    position: absolute;

    // Transition after extending the background
    transition: all $transition-len cubic-bezier($transition-bezier);

    // Stretch so that it superposes the button
    height: 100%;
    width: 0;

    // Position so that it superposes the button
    top: 0;
    left: 0;

    // Make sure it's behind the text
    z-index: -1;
  }
}

// Hover
:is(button, input[type=submit], input[type=button], [role=button]).outline:is([aria-current], :hover, :active, :focus), input[type=reset].outline:is([aria-current], :hover, :active, :focus) {
  --color: var(--primary-inverse);

  // Extend the background to the full width
  &::before {
    width: 100%;
  }
}

[data-theme="dark"] {
  --mono-img-filter: saturate(0%) brightness(0%) invert(100%);
}

/** Footer */
#root > footer p, #root > footer a {
  font-size: 14px;
}

#root > footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 4em;
  padding-right: 2em;
  padding-left: 2em;
}

.material-symbols-outlined {
  vertical-align: middle;
}

/** Navbar */
header  nav a {
  --color: #fff;
}

[data-theme="dark"] header > nav a {
  --color: #fff;
}

.bg-nav-floating {
  background-color: #120641;
}

[data-theme="dark"] .bg-nav-floating {
  background-color: #120641;
}

.bg-nav-top {
  background-color: #120641;
  backdrop-filter: blur(12px);
}

[data-theme="dark"] .bg-nav-top {
  background-color: rgba(18, 6, 65, 0.619);
  backdrop-filter: blur(12px);
}


.bg-nav-scrolled {
  background-color: rgba(18, 6, 65, 1);
  backdrop-filter: blur(12px);
}


[data-theme="dark"] .bg-nav-scrolled {
  background-color: rgba(18, 6, 65, 0.619);
  backdrop-filter: blur(12px);
}

// Add padding top for the nav bar
#root > main > section:first-child {
  padding-top: 8em;
}
